<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Rent</title>
</head>
<body>
<div th:class="container">
    <div th:replace="fragment/resuable::icon"></div>
    <div th:replace="fragment/resuable::generic_css"></div>
    <div th:replace="fragment/resuable::script"></div>
    <div th:replace="fragment/resuable::navbar"></div>
    <h1>Rent a Book</h1>
    <p class="title" th:align="right" style="margin-right: 600px">
        <a th:href="@{/rent/home}" class="btn btn-large btn-primary">back</a>
    </p>
    <div class="col-md-6">
        <form th:action="@{~/rent/create}" method="post" th:object="${rentDto}" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}">
            <div class="mb-3">
                <label class="form-label">Code</label>
                <input type="text" th:field="*{code}" class="form-control" placeholder="Enter code" >
                <p class="error" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></p>
            </div>

            <div class="mb-3">
                <label class="form-label">Number of Days</label>
                <input type="text" th:field="*{numberOfDay}" class="form-control" placeholder="Enter number of days" >
            </div>

            <div class="mb-3">
                <label class="text-dark">Select Book</label>
                <select th:field="*{bookDto}" class="form-select" aria-label="Default select example">
                    <option th:each="book : ${bookList}"
                            th:value="${book.id}"
                            th:text="${book.name}">
                    </option>
                </select>
                <br>
            </div>
            <div class="mb-3">
                <label class="text-dark">Select Member</label>
                <select th:field="*{memberDto}" class="form-select" aria-label="Default select example">
                    <option th:each="member : ${memberList}"
                            th:value="${member.id}"
                            th:text="${member.name}">
                    </option>
                </select>
                <br>
            </div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-primary" value=" Save ">
                <input type="reset" class="btn btn-danger" value=" Reset ">
            </div>
        </form>
    </div>
</div>


</body>
</html>