<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author || Home</title>
    <style>
           .tap
           {
               margin-left: 100px;
               margin-right: 250px;
               margin-top: 50px;
           }
    </style>
</head>
<body>
<div th:class="container">
<div th:replace="fragment/resuable::icon"></div>
<div th:replace="fragment/resuable::generic_css"></div>
<div th:replace="fragment/resuable::script"></div>
<div th:replace="fragment/resuable::navbar"></div>
    <div class="tap">
    <table class="table table-bordered border-primary">
        <h2>Author List</h2>
        <p class="title" th:align="right">
            <a th:href="@{/author/page}" class="btn btn-large btn-primary">create</a>
        </p>
        <thead class="table-dark" style="font-family:'Times New Roman'">
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author,loop: ${authorList}">
            <th th:text="${loop.count}"></th>
            <td th:text="${author.name}"></td>
            <td th:text="${author.email}"></td>
            <td th:text="${author.mobileNumber}"></td>
            <td>
                <a th:href="@{~/author/edit/}+${author.id}">
                    <botton class="btn btn-info">Update</botton>
                </a>
                <a th:href="@{~/author/delete/}+${author.id}">
                    <botton class="btn btn-danger">Delete</botton>
                </a>
                <a th:href="@{~/author/view/}+${author.id}">
                    <botton class="btn btn-primary">View</botton>
                </a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>